
@import "leaflet/dist/leaflet.css";
@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
#map {
  height: 100vh !important;
  width: 100% !important;
}

.leaflet-container {
  height: 100% !important;
  width: 100% !important;
}

.leaflet-pane {
  will-change: transform;
}